body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
}

.container {
    text-align: top;
}

.flex-container {
    display: flex;
}

.left-container,
.right-container {
    flex: 50;
}

#question-container {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    resize: vertical;
}

#result-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}
